{% extends 'base.html' %}

{% block title %}
Esqueci Minha Senha 
{% endblock title %}

{% block content %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <h2 style="text-align:center">Redefinição de Senha</h2>
    <div class="caixa">
        <!--<h3 class="font-weight-bold mt-3">Password Reset Confirm</h3>-->

		<!--hr-->
        <!--<p>Please enter your new password.</p>-->
        <p>Por favor insira sua nova senha.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}  
            <!--<button class="btn btn-primary" type="submit">Reset password</button>-->                  
            <button style="margin-left: 35%" class="btn btn-primary" type="submit">Redefinir senha</button>
        </form>
    </div>

{% endblock %}