{% extends 'base.html' %}

{% block title %}
Esqueci Minha Senha 
{% endblock title %}

{% block content %}

	<h3 style="text-align:center">Solicitação Enviada</h3>
	<!--Password reset sent-->
	<!--<h3 class="font-weight-bold mt-3">Password reset sent</h3>-->

	<!--hr-->
	<!--<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
			<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>-->
	<p>Enviamos as intruções para redefinir sua senha, caso haja uma conta com o email fornecido. Você deve recebê-la logo.
		<br>Caso não receba o email, confira se o email inserido é o mesmo que você registrou ao fazer sua conta, e cheque a sua caixa de spam.</p>

{% endblock %}