{% extends 'base.html' %}

{% block title %}
Esqueci Minha Senha 
{% endblock title %}

{% block content %}

	{% load crispy_forms_tags %}          

	<h2 style="text-align:center">Redefinir Senha</h2>
	<p>Esqueceu a sua senha?</p>
	<p>Insira seu endereço de email abaixo, e vamos enviar uma mensagem com as intruções para cadastrar uma nova senha.</p>
	<!--Reset Password-->
	<div class="caixa">
		<!--<h3 style="text-align:center">Reset Password</h3>-->
		<!--hr-->
		<!--<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>-->
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}     
			<!--<button class="btn btn-primary" type="submit">Send email</button>-->               
            <button style="margin-left: 35%" class="btn btn-primary" type="submit">Mandar email</button>
        </form>
  	</div> 
	<h4 style="text-align: center"><a href="{% url 'login' %}">Voltar</a></h4>

{% endblock %}