{% extends 'base.html' %}

{% block content %}
<h3 style="text-align:center">Comentário Evento {{ event.name }} ({{ event.date }})</h3>

<div class="caixa">
    <form action="{% url 'events:comment' event.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button style="margin-left: 32%" type="submit">Postar Comentário</button>
    </form>
</div>

<p style="padding-top: 15px; text-align:center"><b><a href="{% url 'events:detail' event.id %}">Voltar para a página do evento</a></b></p>
{% endblock content %}