{% extends 'base.html' %}

{% block title %}
Criar Evento
{% endblock title %}

{% block content %}
<h2 style="text-align:center">Adicionar Evento</h2>

<form style="margin-left:22%" action="{% url 'events:create' %}" method="post">
    {% csrf_token %}
    {{ event_form.as_p }}
    {{ provider_form.as_p }}
    <button style="margin-left:28%" type="submit">Criar</button>
</form>
<p style="padding-top: 15px; text-align:center"><b><a href="{% url 'events:index'%}">Voltar para a página de eventos</a></b></p>

{% endblock content %}