{% extends 'base.html' %}

{% block title %}
{{ event.name }} ({{ event.date }}
{% endblock title %}

{% block content %}
<!--<h3 style="text-align:center">{{ event.name }}</h3-->

<section class="dados-de-evento">
    <img src="{{ event.event_photo_url }}" alt="Imagem do evento {{ event.name }}">
    <img src="{{ event.event_photo_url }}" alt="Imagem do evento {{ event.name }}">
    <ul>
        <h2 style="text-align:center">{{ event.name }}</h2>
        <li><b>Data:</b> {{ event.date|date:"d/m/Y" }} </li>
        <li><b>Horário:</b> {{ event.time|date:"H:i" }} </li>
        <li><b>Duração:</b> {{ event.duration|date:"H:i" }} </li>
        <li><b>Local:</b> {{ event.place }} </li>
        <li><b>Descrição:</b> {{ event.description }} </li>
        <li><b>Resumo:</b> {{ event.summary }} </li>
        <li><b>Lotação: </b>{{ event.max_participants }} </li>

        <li><b>Formato:</b> {{ event.formato }} </li>
        <li><b>Tema:</b> {{ event.tema }} </li>
        <li><b>Tipo de Organização:</b> {{ event.tipo_organizacao }} </li>
    </ul>
    
    <det>
        {% if user == event.promotor.user %}
            <p style="text-align:center"><a href="{% url 'events:update' event.id %}"><button>Editar</button></a>
                <a href="{% url 'events:delete' event.id %}"><button>Apagar</button></a></p>
        {% endif %}

        {% if is_favorite %}
            <p style="text-align:center"><a href="{% url 'events:favorite_event' event.id %}"><button>Remover dos Interesses</button></a></p>
        {% else %}
            <p style="text-align:center"><a href="{% url 'events:favorite_event' event.id %}"><button>Adicionar aos Interesses</button></a></p>
        {% endif %}

    </det>

</section>

<hr>

<section>
    <header>
        <h3 style="text-align:center">Comentários</h3>
    </header>
    <ul>
        {% if event.comment_set.all %}
            {% for comment in event.comment_set.all %}
                <figure>
                    <blockquote>
                        "{{ comment.text }}"
                    </blockquote>
                    <figcaption>—{{ comment.author.first_name }} {{ comment.author.last_name }}
                </figure>
            {% endfor %}
        {% else %}
            <p style="text-align:center">Ainda não existe nenhum comentário para este evento.</p>
        {% endif %}
    </ul>
</section>

</ul>
    
<hr>

<p style="text-align:center"><a href="{% url 'events:comment' event.pk %}"><button>Crie seu Comentário</button></a></p>
</section>

{% endblock content %}