{% extends 'base.html' %}

{% block title %}
{{ event.name }} ({{ event.date }}
{% endblock title %}

{% block content %}
<h2>{{ event.name }}</h2>

<section class="dados-de-evento">
    <img src="{{ event.cover_photo_url }}" alt="Capa do evento {{ event.name }}">
    <ul>
        <li>Data: {{ event.date|date:"d/m/Y" }} </li>
        <li>Horário: {{ event.time|date:"H:i" }} </li>
        <li>Duração: {{ event.duration|date:"H:i" }} </li>
        <li>Local: {{ event.place }} </li>
        <li>Descrição: {{ event.description }} </li>
        <li>Resumo: {{ event.summary }} </li>
        <li>Lotação: {{ event.max_participants }} </li>

        <li>Formato: {{ event.formato }} </li>
        <li>Tema: {{ event.tema }} </li>
        <li>Tipo de Organização: {{ event.tipo_organizacao }} </li>
        
        <li><a href="{% url 'events:update' event.id %}">Editar</a></li>
        <li><a href="{% url 'events:delete' event.id %}">Apagar</a></li>
    </ul>
    <img src="{{ event.event_photo_url }}" alt="Imagem do evento {{ event.name }}">
</section>

<hr>

<section>
    <header>
        <h3>Comentários</h3>
    </header>
    <ul>
        {% if event.comment_set.all %}
            {% for comment in event.comment_set.all %}
                <figure>
                    <blockquote>
                        "{{ comment.text }}"
                    </blockquote>
                    <figcaption>—{{ comment.author.first_name }} {{ comment.author.last_name }}
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhum comentário para este evento.</p>
        {% endif %}
    </ul>
</section>

</ul>
    
<hr>

<a href="{% url 'events:comment' event.pk %}"><button>Crie seu Comentário</button></a>
</section>

{% endblock content %}