{% extends 'base.html' %}

{% block content %}
<h2>Todos os Eventos</h2>
<section>
    <form action="{% url 'events:search' %}">
        <p>
            <label for="id_query">Título:</label>
            <input type="text" name="query" id="id_query" />
        </p>
        <button type="submit">Buscar</button>
    </form>
    <!-- <p>Muitos resultados? <a href="{% url 'events:search' %}">Buscar Eventos</a></p> -->
    {% if perms.events.add_event %}
        <p><a href="{% url 'events:create' %}">Adicionar Novo Evento</a></p>
    {% endif %}
</section>
{% if event_list %}
<section class="lista-de-cards">
    {% for event in event_list %}
        {% if event.approved %}
            <article class="card">
                <a href="{% url 'events:detail' event.id %}"><img src="{{ event.event_photo_url }}"
                        alt="Poster do evento {{ event.name}}"></a> <!-- modifique esta linha -->
                <p>{{ event.name }} ({{ event.date }})</p>
            </article>
        {% endif %}
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum evento.</p>
{% endif %}

{% if last_events %}
<hr>
<h2>Últimos vistos</h2>
<section class="lista-de-cards">
    {% for last_event in last_events %}
    <article class="small-card">
        <a href="{% url 'events:detail' last_event.id %}"><img src="{{ last_event.event_photo_url }}"
                alt="Poster do evento {{ last_event.name}}"></a>
    </article>
    {% endfor %}
</section>
{% endif %}

{% endblock content %}