{% extends 'base.html' %}

{% block title %}
Listas
{% endblock title %}

{% block content %}
<h2>Listas de Eventos</h2>

<section>
    {% if perms.events.add_event %}
    <article>
        <header>
            <h3> Meus Eventos</h3>
        </header>
        <div class="lista-de-cards">
            {% for event in event_list %}
            <div class="card">
                <a href="{% url 'events:detail' event.id %}"><img src="{{ event.poster_url }}"
                        alt="Poster do evento {{ event.name}}"></a>
                <p>{{ event.name }} ({{ event.date }})</p>
            </div>
            {% endfor %}
        </div>
    </article>
    {% endif %}
    
    <header>
        <h3> Meus Interesses</h3>
    </header>
    {% if favorite_events %}
    <div class="lista-de-cards">
        {% for event in favorite_events %}
            <div class="card">
                <a href="{% url 'events:detail' event.id %}"><img src="{{ event.poster_url }}"
                        alt="Poster do evento {{ event.name}}"></a>
                <p>{{ event.name }} ({{ event.date }})</p>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p> Adicione algum evento a seus interesses! </p>
    {% endif %}
</section>

{% endblock content %}