{% extends 'base.html' %}

{% block content %}
<h2>Busca de Eventos por Nome</h2>
<form action="{% url 'events:search' %}">
    <p>
        <label for="id_query">Título:</label>
        <input type="text" name="query" id="id_query" />
    </p>
    <button type="submit">Buscar</button>
</form>


<h2>Resultado da Busca</h2>
{% if event_list %}
<section class="lista-de-cards">
    {% for event in event_list %}
        {% if event.approved %}
            <article class="card">
                <img src="{{ event.poster_url }}" alt="Poster do evento {{ event.name}}">
                <p>{{ event.name }} ({{ event.date }})</p>
            </article>
        {% endif %}
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum evento para a busca.</p>
{% endif %}

{% endblock content %}