{% load static %} <!-- adicione esta linha -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %} | EventUSP
    </title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" /> <!-- adicione esta linha -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> <!-- adicione esta linha -->
    <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"-->
</head>

<body>
    <header id="cabecalho-principal">
        <a href="{% url 'index' %}"> <img src="{% static 'logo.svg' %}"> </a>
        <nav id="navegacao-principal">
            <ul>
                {% if user.is_authenticated %}
                    <li style="color:white"> Logado com {{ user.first_name }} {{ user.last_name }} </li>
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                    <li><a href="{% url 'events:index' %}">Eventos</a></li>
                    <li><a href="{% url 'events:lists' %}">Listas</a></li>

                        {% if user.is_superuser %}
                            <li><a href="{% url 'approvals' %}">Admin</a></li>
                        {% endif %}

                {% else %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    
                {% endif %}
                
                <li><a href="{% url 'about' %}">Sobre</a></li>
            </ul>
        </nav>

    </header>
    <main id="conteiner-principal">
        {% block content %}
        {% endblock content %}
    </main>
    <footer id="rodape-principal">
        <p>
            <small>&copy Copyright 2022</small>
        </p>
    </footer>
</body>

</html>