{% extends 'base.html' %}

{% block title %}
{{ movie.name }} ({{ movie.release_year }}
{% endblock title %}

{% block content %}
<h2>Detalhes do Filme {{ movie.name }} ({{ movie.release_year }})</h2>

<section class="dados-de-filme">
    <img src="{{ movie.poster_url }}" alt="Poster do filme {{ movie.name}}">
    <ul>
        <li>Nome: {{ movie.name }}</li>
        <li>Ano de Lançamento: {{ movie.release_year }} </li>
        {% if movie.provider %}
            <li>Disponibilidade de Streaming: {{ movie.provider.service }} </li>
            {% if movie.provider.has_flat_price %}
                <li>Preço: FLAT </li>
            {% else %}
                <li>Preço: R${{ movie.provider.price }} </li>
            {% endif %}
        {% endif %}
        {% if movie.list_set.all %}
           <li>Incluso nas listas: {{ movie.list_set.all|join:", " }} </li>
        {% endif %}
        <li><a href="{% url 'movies:update' movie.id %}">Editar</a></li>
        <li><a href="{% url 'movies:delete' movie.id %}">Apagar</a></li>
    </ul>
</section>

<hr>

<section>
    <header>
        <h3>Resenhas</h3>
    </header>
    <ul>
        {% if movie.review_set.all %}
            {% for review in movie.review_set.all %}
                <figure>
                    <blockquote>
                        "{{ review.text }}"
                    </blockquote>
                    <figcaption>—{{ review.author }}
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhuma resenha para este filme.</p>
        {% endif %}
    </ul>
</section>

</ul>
    
<hr>

<a href="{% url 'movies:review' movie.pk %}"><button>Crie sua Resenha</button></a>
</section>

{% endblock content %}