{% extends 'base.html' %}

{% block title %}
Aprovação de Promotores
{% endblock title %}

{% block content %}
<h1>Portal de Aprovação de Promotores Pendentes</h1>

<form action="" method=POST>
    {% csrf_token %}

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Promotor</th>
            <th scope="col">Aprovado</th>
        </tr>
    </thead>
    <tbody>
        {% for promotor in promotor_list %}
            <tr>
                <td> 
                    <div class="dropdown">
                        <h6 class="dropdown-header">{{ promotor }}</h6>
                        <a class="dropdown-item" href="#">Email: {{ promotor.user.email }}</a>
                        <a class="dropdown-item" href="#">CPF: {{ promotor.user.cpf }}</a>
                        <a class="dropdown-item" href="#">Organização: {{ promotor.organizacao }}</a>
                        {% if promotor.profile_photo %}
                        <img src={{promotor.profile_photo.url}} width=250 height=250 alt={{promotor}}>
                        {% endif %}
                    </div>
                </td>
                <td> 
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" 
                             value = {{promotor.user.id}} name="boxes">
                    </div>
                </td>
        {% endfor %}

    </tbody>
</table>
<br>

<button class="btn btn-secondary" type="submit">Atualizar Aprovações</button>

</form>

{% endblock content %}