{% extends 'base_notlogged.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
<h3 style="text-align: center">Sobre este site</h3>
<p> O EventUsp surgiu da necessidade de uma plataforma em que fosse possível juntar e organizar os diferentes tipos de eventos que são promovidos 
    pelas diversas entidades da USP. <br>
    Sendo uma iniciativa tomada pelos próprios estudantes, o site está em constante modificação para melhorar seu desempenho e a experiência dos 
    usuários. <br>

    Em caso de problemas com o site, entre em contato com nossos administradores.
</p>

{% endblock content %}