{% extends 'base.html' %}

{% block title %}
Aprovações de Administrador
{% endblock title %}

{% block content %}
<h2 style="text-align:center">Aprovações</h2>

<p style="text-align:center">Escolha o que você quer gerenciar:</p>

<div class="list-group">
    <h4><a href="{% url 'events:admin_approval' %}" class="list-group-item list-group-item-action">Eventos</a></h4>
    <h4><a href="{% url 'admin_approved' %}" class="list-group-item list-group-item-action">Promotores Aprovados</a></h4>
    <h4><a href="{% url 'admin_approval' %}" class="list-group-item list-group-item-action">Promotores Pendentes</a></h4>
</div>
{% endblock content %}