{% extends 'base.html' %}

{% block title %}
    Página Inicial | EventUSP!
{% endblock title %}

{% block content %}
    <h1><i>EventUSP</i></h1>
    {% if user.is_authenticated %}
        <p>Usuário Logado</p>
    {% endif %}
    {% if like_count %}
        <p>Confira os eventos em alta</p>
        <section class="lista-de-cards">
            {% for event in like_count %}
                {% if event.approved %}
                    <article class="card">
                        <a href="{% url 'events:detail' event.id %}"><img src="{{ event.event_photo_url }}"
                                alt="Poster do evento {{ event.name}}"></a> <!-- modifique esta linha -->
                        <p>{{ event.name }} ({{ event.date }})</p>
                    </article>
                {% endif %}
            {% endfor %}
        </section>
    {% else %}
        <p>Não foi encontrado nenhum evento.</p>
    {% endif %}
{% endblock content %}