@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



:root {
    --primary-color: #000000;
    --secondary-color: #FF7F17;
    --tertiary-color: #f44d27;
    --secondary-color-light: #FFB001;
    --tertiary-color-light: #ff6d28;
    --bg-color: #fff;
    --secondary-bg-color: #bdbdbd;
    --color-shadow: #a2a2a2;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  header#cabecalho-principal {
    margin: 0 auto;
    width: 100%;
    padding: 3rem 1rem;
    background-color: #541FC4;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li a {
    font-family: "Open Sans", medium;
    font-size: 25px;
    color: var(--bg-color);
    font-weight: bold;
    text-decoration: none;
  }
  
  li a:hover {
    color: var(--secondary-bg-color-light);
    text-decoration: underline;
  }
  
  body {
    font-family: "Open Sans", medium;
    display: flex;
    flex-direction: column;
  }
  
  nav#navegacao-principal li {
    display: inline-block;
    padding: 10px;
  }
  
  main#conteiner-principal {
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
    padding: 1rem 1rem;
    flex-grow: 1;
  }
  
  footer#rodape-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
  }

  .busca {
    margin: 0 auto;
    width: 100%;
  }

  .caixa {
    border: 1px solid var(--secondary-bg-color);
    border-radius: 30px;
    background-color: var(--secondary-color);
    box-shadow: 2px 2px 10px var(--color-shadow);
    margin-left: 20%;
    padding: 1.25rem;
    width: 59%;
    justify-content: center;
  }
  
  .lista-de-cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    border: 1px solid var(--secondary-bg-color);
    border-radius: 30px;
    background-color: #541FC4;
    box-shadow: 2px 2px 10px var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: 285px;
  }
  
  .small-card {
    border: 1px solid var(--bg-color);
    border-radius: 30px;
    background-color: #541FC4;
    box-shadow: 2px 2px 10px var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: 160px;
  }
  
  .card img {
    width: 100%;
    border-radius: 30px;
  }
  
  .small-card img {
    width: 100%;
    border-radius: 30px;
  }
  
  a {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--secondary-color-light);
    text-decoration: underline;
  }
  
  
  .dados-de-evento {
    width: 100%;
    display: grid;
    grid-template-areas: "bx3 bx1" "bx3 bx2";
    column-gap: 50px;
    row-gap: 20px;
    justify-content: center;
    padding: 20px;
  }

  .dados-de-evento img {
    width: 500px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px var(--color-shadow);
    grid-area: bx1;
  }
  
  .dados-de-evento ul {
    list-style-type: none;
    padding: 10px;
    grid-area: bx3;
  }

  .dados-de-evento det {
    list-style-type: none;
    grid-area: bx2;
  }

  .list-group{
    margin-left: 25%;
    margin-top: 5%;
  }

  .dropdown {
    margin-left: 15%;
    margin-top: 5%;
  }

  input {
    display: block;
    width: 100%;
    max-width: 560px;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem;
  }
  
  button {
    font-family: "Open Sans", medium;
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: var(--bg-color);
    border-radius: 10px;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    margin: 0.5rem 0;
    padding: 1rem 2rem;
  }
  
  button:hover {
    background-color: var(--secondary-color-light);
    border: 2px solid var(--secondary-color-light);
  }
  
  h1 {
    font-family: "Open Sans", medium;
    font-size: 40px;
    color: var(--secondary-color);
    font-weight: bolder;
    text-decoration: none;
    padding-bottom: 15px;
  }

  h2 {
    font-family: "Open Sans", medium;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    padding: 15px;
  }

  h3{
    font-family: "Open Sans", medium;
    font-size: 25px;
    font-weight: bolder;
    color: var(--secondary-color);
    text-decoration: none;
    padding-bottom: 15px;
  }